.content-article {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex:1;
    overflow: auto;
    text-align: justify;
}

.content-article-nav {
    padding: 0.5rem;
    display: flex;
    justify-content: center;
}

.content-article-body {
    background-color: var(--color-1);
    width: 60%;
    flex:1;
}

.content-article-nav-item {
    font-weight: bold;
    background-color: var(--color-2);
    color: var(--color-1);
    padding: 1rem;
    margin: 0.5rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.content-article-item {
    background-color: var(--color-3);
    padding: 0.5rem;
    margin: 0.5rem;
    flex:1;
}

.content-article-item-heading {
    height: 3rem;
    font-weight: bold;
    font-size:1.25rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-article-item-body {
    display: flex;
}

.content-article-item-body-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.25rem;
}

.content-article-item-body-text {
    padding: 0.5rem;
}

.content-article-item-body-more {
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-article-item-body-more-button {
    font-weight: bold;
    background-color: var(--color-2);
    color: var(--color-1);
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    margin: 0.5rem;
    cursor: pointer;
}

.content-articles {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex:1;
    overflow: auto;
    text-align: justify;
}

.content-articles-nav {
    padding: 0.5rem;
    display: flex;
    justify-content: center;
}

.content-articles-body {
    background-color: var(--color-1);
    width: 60%;
    flex:1;
}

.content-articles-nav-item {
    background-color: var(--color-2);
    color: var(--color-1);
    padding: 1rem;
    margin: 0.5rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.content-articles-item {
    background-color: var(--color-3);
    padding: 0.5rem;
    margin: 0.5rem;
    flex:1;
}


@media (max-width: 1000px) {
    .content-article-item-heading {
        height: 1rem;
        font-size: 1rem;
    }

    .content-article-item-body-logo {
        width: 3rem;
        padding: 0rem;
    }

    .content-article-item-body-logo-image {
        transform: scale(0.5);
        transform-origin: center;
    }

    .content-article-body {
        width: 90%;
        font-size: 0.8rem;
    }

    .content-article-nav{
        flex-direction: column;
    }

    .content-article-nav-item {
        font-weight: bold;
        font-size: 0.75rem;
        padding: 0.7rem;
        margin: 0.2rem;
    }

    .content-article-item-body-more-button {
        font-size: 0.65rem;
    }
}
